node_modules/
viteclient/dist/
viteclient/.vite/
viteclient/.env.local
viteclient/.DS_Store


__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log


fastapi-venv/
venv/
env/
.venv/


*.env
*.env.*


.vscode/


.DS_Store
Thumbs.db


*.swp
