fastapi
uvicorn
gunicorn
sqlmodel
passlib
bcrypt
python-jose
pyjwt
python-multipart
pandas
openpyxl
httpx
transformers
datasets
torch
google-generativeai
huggingface_hub
python-dotenv
hf-xet
psycopg2-binary
asyncpg