.scrollable-container {
  overflow-y: auto;
}

/* Track (background behind the thumb) */
.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbar by default */
.scrollable-container::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}

/* Thumb (the draggable part) */
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.3s;
}

/* Show thumb on hover */
.scrollable-container:hover::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

/* Custom scrollbar for code blocks */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3d5058; /* cyan */
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3e4b51;
}
